@model PredescuAlexandru_MVC.Models.CodeSnippetModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Delete</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cvzGzDAxGEnmvgOO1U1dPJW1fs1" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6">
            <h1 class="text-center">Delete</h1>

            <h3 class="text-center">Are you sure you want to delete this?</h3>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.ContentCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContentCode)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.IdMember)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdMember)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Revision)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Revision)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.DateTimeAdded)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateTimeAdded)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsPublished)
                    </dd>
                </dl>
                <br />

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdCodeSnippet" />
                    <input type="submit" value="Delete" class="btn btn-danger btn-create" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+qIoX3w10kWUkI5V7rt/LNvzoKbcjP5M3bA6E6J5QfUJsa9" crossorigin="anonymous"></script>
</body>
</html>