@model PredescuAlexandru_MVC.Models.AnnouncementsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cvzGzDAxGEnmvgOO1U1dPJW1fs1" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6">
            <h1 class="text-center">Details</h1>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.IdAnnouncement)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdAnnouncement)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.ValidFrom)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ValidFrom)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.ValidTo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ValidTo)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Text)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.EventDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EventDate)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Tags)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tags)
                    </dd>
                </dl>
            </div>

            <div>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+qIoX3w10kWUkI5V7rt/LNvzoKbcjP5M3bA6E6J5QfUJsa9" crossorigin="anonymous"></script>
</body>
</html>


